*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: blue;
}
form{
    background-color: lightblue;
    width:230px;
    height: auto;
    margin: 4px;
    border-radius: 10px;
    border: 1px solid blue;
    margin: 5px;
    

}
fieldset{
    border:none;
    border-radius: 10px;
    width: 225px;
}
.ss{
     width: 224px;
}
input{
    width: 50px;
    height: 50px;
    margin:2px;
    border:1px solid blue;
    border-radius: 10px;
    text-align: right;
    padding-right: 20px;
   color: #000;   
}
.equal{
    width: 100px;
    text-align: center;   
}
